/* Landing Page Styling */
.landing-page {
  text-align: center;
  padding: 50px;
  background: linear-gradient(120deg, #796fea, #b9b4f5);
  border-radius: 28px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

/* Register Button */
.register-btn {
  padding: 12px 24px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #4a148c;
}

/* Registration Container */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form Box */
.form-box {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
  align-items: center;
  font-size: 16px;
  padding: 38px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 380px;
}

.form-box h2{
  text-align: center;
}
/* Form Group Styling */
.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight:bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

/* Highlight invalid inputs */
.form-group input.error {
  border-color: red;
}

/* Submit Button */
.submit-btn {
  padding: 12px 24px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #4a148c;
}

.footer {
  position: absolute;
  padding-top: 5px;
  bottom: 28px; 
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #433e3e;
}

